.signup-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  font-family: "Barlow Condensed";
}
.signup-container .left {
  width: 40%;
  max-width: 40%;
}
.signup-container .right {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-div {
  width: 100%;
  height: 100%;
  background: url(../../images/download.jpg) no-repeat;
  background-size: cover;
  background-position-x: center;
}
.signup-nav {
  height: 10vh;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.signup-nav .login-content {
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: 300;
}
.signup-nav .login-content span {
  font-weight: 700;
}
.signup-container .form-container {
  max-width: 400px;
}

.form-container p {
  /* justify-content: center; */
  text-align: center;
}
.input-container.first {
  margin-top: 0;
}
.input-container {
  margin-top: 2.36rem;
  display: flex;
  flex-direction: column;
}
.signup-google {
  color: #7e7e7e;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 1rem;
}
.separate-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}
.separate-container .line {
  width: 100%;
  height: 1px;
  background-color: #dbdbdb;
}
.separate-container .content-or {
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  min-width: fit-content;
  padding: 0 1rem;
}
.sign-up-button {
  width: 400px;
  height: 57.75px;
  margin-top: 2rem;
  font-size: 1.063rem;
  font-weight: 700;
  line-height: 1.25rem;
  padding: 0.82rem;
  background-color: #131313;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Barlow Condensed";
}
.signup-container .input-field {
  width: 400px;
  height: 70px;
  background: #ffffff;
  border: 1.31148px solid #d9d9d9;
  border-radius: 10px;
  font-size: 14px;
  line-height: 14.5px;
  outline: none;
}

.password {
  position: relative;
}
.password .eye-icon {
  position: absolute;
  top: 25px;
  right: 20px;
  font-size: 20px;
  color: #b8b8b8;
  cursor: pointer;
}

.terms-content {
  display: flex;
  justify-content: space-between;
  margin: 1.148rem 0;
}

.terms-content p {
  font-size: 0.813rem;
  font-weight: 600;
  line-height: 1rem;
}
.form-container p {
  text-align: center;
}
