.card-container{
    background-color: #111;
    min-height: 25rem;
    min-width: 24.3rem;
    color: #fff;
    border-radius: 13px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title{
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 500;
    margin: 1rem 0;
}
.list-container li{
    font-size: 1.5rem;
    font-weight: 400;
    list-style: disc;
    padding: 0 !important;
    text-align: start;
}
.list-container{
    margin-top: 0.5rem;
}

@media screen and (max-width: 500px){
    .card-container{
        min-width: 10.063rem;
        min-height: 10.4rem;
    }
    .title{
        font-size: 1.035rem;
        line-height: 1.242;
        margin: 0.4rem 0;
    }
    .list-container{
        margin-top: 0.2rem;
    }
    .list-container li{
        font-size: 0.621rem;
        line-height: 0.745rem;
    }
}